/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 17px/1.4 "Segoe UI",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body {
  background: #fff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 25px 0 5px;
  letter-spacing: -1px;
  line-height: 44px;

  em {
    color: #d83b01;
  }
}

ul {
  margin: 5px;
}

.wrapper {                        // Wrapper around all block content

}

.columns {
  @include flexbox();
  @include flex-flow(row nowrap);
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  &__2x {
    @include flex(1 0 auto);
  }

  &__3x {
    @include flex(1 0 auto);
  }
}