/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 17px/1.4 'Segoe UI', 'Segoe', Verdana, Arial, sans-serif;
}

body {
  background: #fff;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 25px 0 5px;
}

ul {
  margin: 5px;
}

.wrapper {                        // Wrapper around all block content

}

